<form method ="POST" action="/new" style="display: block;">
    <input name="messageText" id="messageText" placeholder="message" style="padding: .5rem; margin: .5rem;"></input>
    <br>
    <input type="text" name="messageUser" id="messageUser" placeholder="name" style="padding: .5rem; margin: .5rem">
    <button type="submit">Submit</button>
</form>