<head>
     <link rel="stylesheet" href="/styles.css">
</head>

<%- include('navbar') %>
<%- include("errors") %>
<h3><%= title %></h3>
<form class = "input-form" method ="POST" action="/new" style="display: block;">
    <textarea class= "message-text" cols="33" name="messageText" id="messageText" placeholder="message" style="padding: .5rem; margin: .5rem;"></textarea>
    <br>
    <input class="message-user" name="messageUser" id="messageUser" placeholder="name" style="padding: .5rem; margin: .5rem"></input>
    <button type="submit">Submit</button>
</form>