<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h3>Messages</h3>
    <ul>
        
            <% for (let i=0; i<messages.length; i++) { %>
               
                   <h5 style="margin-bottom: .2rem; font-size: 1rem;"> <%=messages[i].user%></h5>
                    <li>
                        <%=messages[i].text%>
                       <a href="/messages/<%= messages[i].id %>">View message details</a>
                    </li>
                     
                  
                    <% } %>
                    
                
    </ul>
    <br>
    <a href="new">message</a>
</body>
</html>