

<head>
   <link rel="stylesheet" href="/styles.css">
</head><%- include('navbar', {links: links}) %>
<div class="message-view-container">
<div class="message-detail">   
 Message: <%= message.text %>
</div>
<div class="message-detail">
  Sent by:  <%= message.user %>
</div>
<div class="message-detail">
  Timestamp:  <%= message.added %>
</div>
</div>