
<head>
   <link rel="stylesheet" href="/styles.css">
</head><%- include('navbar', {links: links}) %>
<div class="message-view-container">
<div class="message-detail">   
 <span class="message-view-component-title">Message: </span><%= message.text %>
</div>
<div class="message-detail">
  <span class="message-view-component-title">Sent by:  </span><%= message.user %>
</div>
<hr class="message-view-divider">
<div class="message-detail timestamp">
   <span class="message-view-component-title" >Timestamp:  </span><%= message.added %>
</div>
</div>