html{
    background-color:aliceblue;
}

body {
    max-width: 450px;
    margin: 2rem auto;
    padding: 2rem 2rem;
    color: white;
    background-color: midnightblue;
    font-family: 'Courier New', Courier, monospace;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px gray;
   
}

button {
    font-family: 'Courier New', Courier, monospace;
    padding: .3rem 1rem;

}

button:hover {
    background-color: firebrick;
    color: whitesmoke;
}

.message-list {
    /* border: white 1px solid;
    border-radius: 5px; */
    padding: 0 1rem 2rem;


}

.message-text {
    margin-left: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

nav {

    margin-left: 0rem;
    font-weight: bold;
}

nav>ul {
    display: flex;
    justify-content: flex-start;
    margin-left: -2rem;
}

ul {
    list-style-type: none;
}

.view-message-details {
    font-size: .8rem;
    font-style: italic;

}

.message-view-divider {

    border: .005rem white solid;
    width: 50%;
    margin-left: 0;
}

.message-view-component-title {
    font-weight: bold;
}

.timestamp {
    font-size: .6rem;
    font-style: italic;
}

.new-message {
    float: right;
}

h5 {
    font-size: 1.8rem;
}

.home-link {
    text-decoration: underline;
    font-style: italic;
}