body{
    max-width: 600px;
    margin: 2rem auto;
      color: white;
    background-color:midnightblue;
    font-family: 'Courier New', Courier, monospace;
}

.message-list{
    border: white 1px solid;
    border-radius: 5px;
    padding: 0 1rem 1rem;
  
}

a{
    color: white;
    text-decoration: none;
}

nav>ul{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

.view-message-details{
    font-size: .8rem;
    font-style: italic;

}

.message-view-divider{

    border: .005rem white solid;
    width: 50%;
    margin-left: 0;
}

.message-view-component-title{
    font-weight: bold;
}

.timestamp{
    font-size: .6rem;
    font-style: italic;
}